.custom-select {
    position: relative;

    &__selected {
        background: var(--color-background);
        border-radius: var(--border-radius);
    }

    &__options {
        position: absolute;
        left: 0;
        background: var(--color-background);
        border-radius: var(--border-radius);
        width: 100%;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
        z-index: 20;
        pointer-events: all;
    }

    &__option {
        padding: 0.1rem 1rem;
        font-weight: normal;

        &:last-of-type {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &:hover {
            background: var(--color-accent);
            color: var(--color-light);
        }
    }
}
