.view-controls {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);

    background: var(--color-light);
    box-shadow: var(--shadow-medium);
}
