.view-controls {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    align-items: center;
    gap: 0.4rem;
    z-index: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;

    background: white;
    box-shadow: var(--shadow);
}
