.md-edit {
    position: absolute;
    inset: 1rem;
    overflow: auto;

    &__markdown,
    &__markup {
        font-family: var(--font-code);
        white-space: pre-wrap;
        display: inline-block;
        position: absolute;
        inset: 0;
        min-height: 100%;
        outline: none;
        border: none;
    }

    &__markdown {
        color: transparent;
        caret-color: var(--color-foreground);
    }

    &__markup {
        pointer-events: none;

        .bullet {
            background: var(--color-background);
            font-weight: bold;
            border-radius: var(--border-radius);
        }

        .header {
            color: var(--color-accent);
            font-weight: bold;
        }

        .bold {
            font-weight: bold;
        }

        .italics {
            font-style: italic;
        }

        .code-inline {
            background: var(--color-background);
            color: var(--color-accent);
        }

        .anchor {
            color: var(--color-accent);
            font-weight: bold;
        }

        .strikethrough {
            text-decoration: line-through;
        }

        .command {
            background: var(--color-foreground);
            color: var(--color-light);
        }
    }
}
