.error-dialog {
    background: var(--color-light);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(40ch, 70%, 80ch);

    &.opening {
        animation: slideInDown 0.5s ease-in-out forwards;
    }

    &.closing {
        animation: slideOutDown 0.5s ease-in-out forwards;
    }

    &__text {
        margin: 0.5rem 0;
    }

    &-wrap {
        position: absolute;
        z-index: 100;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;

        &.opening {
            animation: fadeIn 0.5s ease-in-out forwards;
        }

        &.closing {
            animation: fadeOut 0.5s ease-in-out forwards;
        }
    }
}
