.file-view {
    background: var(--color-light);
    padding: 1rem;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    position: relative;

    &.any-open {
        border-radius: 0 var(--border-radius) var(--border-radius);
    }
}
