.md-preview {
    position: absolute;
    inset: 1rem 2rem;
    overflow: auto;

    img {
        padding: 1rem;
    }

    ul,
    ol {
        margin-left: 1.5em;
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
        margin-top: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    a {
        color: var(--color-accent);
        font-weight: bold;
        text-decoration: none;
    }

    .command {
        background: var(--color-foreground);
        color: var(--color-light);
        font-weight: bold;
        border-radius: var(--border-radius);
        padding: 0 0.3rem;
        font-family: var(--font-code);
        cursor: pointer;
        white-space: nowrap;
    }

    .bullet {
        border-radius: var(--border-radius);
        background: var(--md-cyan);
        padding: 0 0.3rem;
        font-weight: bold;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;

        &.red {
            background: var(--md-red);
        }

        &.cyan {
            background: var(--md-cyan);
        }

        &.green {
            background: var(--md-green);
        }

        &.yellow {
            background: var(--md-yellow);
        }
    }
}

.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}
