*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-foreground: #333;
  --color-background: #ddd;
  --color-accent: #ff7700;

  --font-code: "Courier New", Courier, monospace;
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-family: var(--font-main);
  line-height: 1.3;
  height: 100vh;
  overflow-y: hidden;
}
