@import "material-icons/iconfont/material-icons.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-foreground: #444;
  --color-midtone: #888;
  --color-background: #eee;
  --color-light: #fff;
  --color-accent: #ff7700;

  --font-code: "Courier New", Courier, monospace;
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --border-radius: 0.5rem;

  font-family: var(--font-main);
  color: var(--color-foreground);
  line-height: 1.4;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--color-midtone);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground);
}
